.input-container {
    position: relative;
    margin-bottom: 100px;
}

.input-label {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: white;
    padding: 0 5px;
    font-size: 12px;
    color: #888;
}

.input-field {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.input-field:focus {
    border-color: #0070f3;
    outline: none;
}

.char-counter {
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-size: 12px;
    color: #888;
}
.container {
    display: flex;
    min-height: 100vh;
  }
  
  /* Бокове меню */
  .sidebar {
    width: 250px; /* Встановіть ширину меню */
    background-color: #f4f4f4; /* Фоновий колір меню */
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto; /* Якщо меню велике, дозволить прокручувати */
  }
  
  /* Основний контент */
  .content {
    flex-grow: 1; /* Контент займатиме весь вільний простір */
    margin-left: 250px; /* Відступ щоб не налазити на бокове меню */
    padding: 20px;
    box-sizing: border-box;
  }