.upload-section {
    text-align: center;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 1000px;
    margin-left: 500px;
    margin-top: 250px;
    display: flex;
    flex-direction: column; /* Вертикальне вирівнювання */
    justify-content: center; /* Центрування по вертикалі */
    align-items: center; /* Центрування по горизонталі */
}

.upload-box {
    border: 2px dashed #ccc;
    padding: 50px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    width: 100%;
    max-width: 300px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload-box svg {
    width: 100px; 
    height: 100px;
    margin-bottom: 20px;
    color: #000000; /* Колір іконки */
}

.upload-box p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.upload-box button {
    background-color: transparent;
    border: none;
    color: #007bff;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
}

.submit-btn {
    background-color: #405468;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.submit-btn:hover {
    background-color: #3f444c;
}
@media (max-width: 768px) {
    .upload-box {
        max-width: 100%;
        width: 90%;
    }

    .submit-btn {
        width: 100%;
    }
}